@model ABCRetails.Models.Order

@{
    ViewData["Title"] = "Delete Order";
}

<div class="border rounded-3 overflow-hidden p-3" style="margin: 0 auto;">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Delete Order</h1>
        <a class="btn btn-primary" asp-action="Index">🡐 Back</a>
    </div>
    
    <div class="d-flex gap-4">
        <dl class="flex-fill">
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeliveryAddress)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>
        </dl>
    
        <div class="flex-fill d-flex justify-content-center align-items-start border rounded-3">
            <img src="@Model.PhotoURL" alt="Product Photo" class="img-fluid" style="max-width: 250px;" />
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RowKey" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
